
# <어느 시점에 얼만큼 어떤 재고를 입고해야하고 어느 기간동안 이를 유지해야할지>

그래서 결국에 어떤 목차가 되어야 맞는지는 잘 모르겠다! 이지만,
지금 진행할 content0 의 목차를 고민해보자면

### Content 0 : 기간 별, 지역별 상품 수요량 확인
#### 1. fc 월별 데이터 합치기(수요의 흐름을 보고싶은 것이기 때문에)
#### 2. fc 월별 데이터 중 지역별 재고 수요와 1%정도의 관련도 없어보이는 column 삭제하기
**칼럼 코드를 한국어로 잘 바꿔서 주석만 달아놓기**
#### 3. 날짜 별로 상품 수요량 확인하기 (시각화 하기)
#### 4. 지역 별로 상품 수요량 확인하기 (시각화 하기)
#### 5. FC 별로 지역별 수요량 확인하기

### Content1 : 다른 데이터 수집하기
분명 어느 정도 데이터 분석을 했고 주제 파악을 했다면 필요한 데이터가 어떤 것인지 확인될 것임.

### ContentN : Multi variable Regression 수행하기

In [84]:
import sys
import numpy as np
import pandas as pd
import seaborn as sns
import collections

### 1. csv 파일 df로 불러오기

In [73]:
fc3_df = pd.read_csv('C:/Users/mnju5/FC_3.csv',encoding ='utf-8')

C:\Users\mnju5\.conda\envs\testAI\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [74]:
fc3_df.head(3)

,CORP_ID,REF_ORD_NO,BKG_NO,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_CD,...,DLVSUBCLSFCD,INS_ID,INS_DATE,INS_TIME,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,KX007,2021030365922551,KX007210303370934,7,20210303,35510,90001302,22400.0,2,134265392,...,1,iNEXBatch,20210303,131425,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,KX007,2021030365922951,KX007210303371080,7,20210303,35521,90001441,20900.0,1,4610261043_2,...,4,iNEXBatch,20210303,131425,50.0,N,경기도,광주시,경상남도,김해시
2,KX007,2021030365924361,KX007210303371081,7,20210303,35513,90001441,37900.0,1,4936599538_1,...,0,iNEXBatch,20210303,131425,53.0,N,경기도,광주시,경상남도,거제시

In [75]:
fc3_df.shape
#32개의 요소에 대한 309352-1 개의 정보

(309352, 32)

아래의 정보에 대해 조금의 설명을 달아보자면, Dtype 의 object는 문자열이라 생각하면 되고, 지금 SHPR_ADDR_2를 제외한 모든 COLUMN들이 30만개 이상의 NON-NULL임을 확인할 수 있다.

In [76]:
fc3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309352 entries, 0 to 309351
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CORP_ID             309352 non-null  object
 1   REF_ORD_NO          309352 non-null  object
 2   BKG_NO              309349 non-null  object
 3   BKG_TYP             309352 non-null  int64
 4   BKG_DATE            309352 non-null  int64
 5   BKG_TIME            309352 non-null  int64
 6   SHPR_CD             309352 non-null  int64
 7   INV_AMT             305414 non-null  float64
 8   ITEM_SEQ            309352 non-null  int64
 9   ITEM_CD             309352 non-null  object
 10  BRAND_NM            301758 non-null  object
 11  ITEM_QTY            309352 non-null  int64
 12  ITEM_AMT            306284 non-null  float64
 13  IF_YN               309352 non-null  object
 14  ORDER_CRT_DATETIME  301758 non-null  float64
 15  DLV_DV              309220 non-null  float64
 16  REF_ITEM_SEQ        309089 non-null  object
 17  ORDER_IDX           309352 non-null  object
 18  ORDER_YN            309352 non-null  object
 19  DLVPREARRBRANCD     309220 non-null  object
 20  DLVPREARREMPNICKNM  299842 non-null  object
 21  DLVCLSFCD           309220 non-null  object
 22  DLVSUBCLSFCD        309220 non-null  object
 23  INS_ID              309352 non-null  object
 24  INS_DATE            309352 non-null  int64
 25  INS_TIME            309352 non-null  int64
 26  POST_ZONE           309220 non-null  float64
 27  SPLIT_EXEC_YN       309352 non-null  object
 28  SHPR_ADDR_1         309352 non-null  object
 29  SHPR_ADDR_2         296328 non-null  object
 30  CNEE_ADDR_1         309350 non-null  object
 31  CNEE_ADDR_2         302385 non-null  object
dtypes: float64(5), int64(8), object(19)
memory usage: 75.5+ MB

- count : non-null인 데이터 건수
- mean : 전체 데이터의 평균값
- std : 표준편차
- min : 최솟값

In [77]:
fc3_df.describe()

,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_QTY,ITEM_AMT,ORDER_CRT_DATETIME,DLV_DV,INS_DATE,INS_TIME,POST_ZONE
count,309352.00000,3.093520e+05,309352.000000,3.093520e+05,3.054140e+05,309352.000000,309352.000000,3.062840e+05,3.017580e+05,309220.0,3.093520e+05,309352.000000,309220.000000
mean,7.00043,2.021032e+07,95035.831852,9.000141e+07,5.675440e+04,1.403576,2.030234,4.000405e+04,2.021032e+13,1.0,2.021032e+07,145352.291160,25.587055
std,0.02073,9.171140e+00,61630.865074,1.016592e+02,6.375390e+04,1.015545,294.231886,5.156776e+04,9.513625e+06,0.0,1.187998e+01,60230.814456,18.232241
min,7.00000,2.021030e+07,0.000000,9.000130e+07,0.000000e+00,1.000000,1.000000,0.000000e+00,2.021022e+13,1.0,2.021023e+07,4.000000,1.000000
25%,7.00000,2.021031e+07,42145.000000,9.000130e+07,1.990000e+04,1.000000,1.000000,1.335000e+04,2.021031e+13,1.0,2.021031e+07,104242.000000,10.000000
50%,7.00000,2.021032e+07,100004.000000,9.000134e+07,3.780000e+04,1.000000,1.000000,2.090000e+04,2.021032e+13,1.0,2.021032e+07,144244.000000,21.000000
75%,7.00000,2.021032e+07,133351.000000,9.000154e+07,7.160000e+04,1.000000,1.000000,4.380000e+04,2.021032e+13,1.0,2.021032e+07,201428.000000,42.000000
max,8.00000,2.021033e+07,235959.000000,9.000158e+07,4.760000e+06,35.000000,163200.000000,4.760000e+06,2.021033e+13,1.0,2.021041e+07,235637.000000,99.000000

### 2. 여러 fc 데이터 파일 하나로 합치기

In [78]:
fc4_df = pd.read_csv('C:/Users/mnju5/FC_4.csv')
fc5_df = pd.read_csv('C:/Users/mnju5/FC_5.csv')
fc6_df = pd.read_csv('C:/Users/mnju5/FC_6.csv')

C:\Users\mnju5\.conda\envs\testAI\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\mnju5\.conda\envs\testAI\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

**3월달 품목별 수요량 정렬**

In [79]:
items_count = {}
for item in fc3_df['ITEM_CD']:
    if item in items_count:
        items_count[item] +=1
    else:
        items_count[item]=1

In [80]:
sorted_items = sorted([(k,v) for k,v in items_count.items()], key=lambda items_count: -items_count[1])

In [87]:
sorted_items

[('4658408144_1', 10033),
 ('5480996007', 4926),
 ('4586602884_10', 3613),
 ('4586602884_11', 3404),
 ('5390871219', 2924),
 ('5435094301_3', 2898),
 ('5240330199', 2896),
 ('5435090902', 2891),
 ('2475138283', 2765),
 ('5435087121', 2649),
 ('4810960248-1', 2560),
 ('4586602884_12', 2529),
 ('4977419343_1', 2180),
 ('5184904828', 2105),
 ('4802177320_2', 2088),
 ('5390905943', 1969),
 ('4658433412_2', 1848),
 ('5161458796', 1764),
 ('598604962-3', 1746),
 ('3667604580', 1643),
 ('4884983927', 1555),
 ('4802177320_4', 1532),
 ('4884978039_1', 1501),
 ('121174432_8', 1479),
 ('5315755113_1', 1459),
 ('4934869636_1', 1405),
 ('4679426465_2', 1367),
 ('4905164407', 1334),
 ('4733964360_1', 1242),
 ('598604962-4', 1186),
 ('4624382111_1', 1172),
 ('598604962-1', 1158),
 ('5002901812_4', 1151),
 ('4175036505', 1135),
 ('3858391637_1', 1110),
 ('5406140018', 1109),
 ('4631307460', 1105),
 ('4802214590_1', 1105),
 ('5002901764_2', 1103),
 ('5039782335_1', 1102),
 ('2108751155_11', 1040),
 ('4571859898-1', 1012),
 ('4802214590_8', 996),
 ('3040297639-1', 977),
 ('4824061918_4', 976),
 ('4802177320_1', 967),
 ('2108751155_12', 966),
 ('4802214590_6', 960),
 ('5240328576_11', 956),
 ('4810960248-2', 952),
 ('4802214590_5', 940),
 ('5240328576_12', 936),
 ('4886668461_1', 930),
 ('4588143524', 899),
 ('4936599538_1', 871),
 ('5326550997_8', 871),
 ('2708027405-1', 865),
 ('4884978039_2', 852),
 ('4802177320_5', 840),
 ('4802177320_7', 824),
 ('4809156350', 818),
 ('4694579619_1', 811),
 ('4802214590_3', 810),
 ('5187227890', 800),
 ('5404706313', 790),
 ('2108751155_13', 778),
 ('121174437_6', 775),
 ('4762674514', 774),
 ('5435080652', 753),
 ('5002901812_6', 751),
 ('5002901764_1', 747),
 ('4802214590_7', 742),
 ('2756258776_2', 738),
 ('5303419243_1', 737),
 ('4824189340_1', 737),
 ('5063060508_1', 733),
 ('4802177320_6', 696),
 ('5247351575_11', 694),
 ('4831819136', 689),
 ('4824061918_15', 676),
 ('4836262264_1', 676),
 ('5410071620', 674),
 ('4624200932_1', 670),
 ('5311703602', 664),
 ('5450584827_2', 664),
 ('5450485107', 663),
 ('4955936872_1', 662),
 ('5311703602_1', 655),
 ('4824061918_2', 651),
 ('4658433412', 649),
 ('5390893243', 641),
 ('477613250', 638),
 ('4824061918_25', 627),
 ('4824061918_3', 616),
 ('4802214590_4', 607),
 ('4824061918_33', 601),
 ('4824189340_2', 597),
 ('429915183_2', 593),
 ('4802214590_2', 589),
 ('4750452569', 588),
 ('4824061918_1', 578),
 ('4810960248-3', 572),
 ('712423592_1', 566),
 ('4916550406-1', 562),
 ('4824061918_34', 560),
 ('5326550997_9', 554),
 ('5326550997_10', 550),
 ('5329225766_1', 547),
 ('477612946', 542),
 ('4831819136_1', 538),
 ('272777305_3', 537),
 ('3858391637_2', 535),
 ('5388813036', 532),
 ('5002888528', 531),
 ('5435101099_1', 527),
 ('5002869095', 518),
 ('4824061918_17', 516),
 ('272777305_4', 515),
 ('4824061918_29', 514),
 ('429915183_3', 511),
 ('4568271030_15', 506),
 ('4747306298', 501),
 ('100126', 501),
 ('5404329274_14', 494),
 ('4571859898-2', 493),
 ('5404329274_13', 491),
 ('598604962-2', 490),
 ('5404329274_12', 489),
 ('4824061918_14', 487),
 ('2108751155_14', 487),
 ('5316462744_11', 485),
 ('4607921942_1', 482),
 ('5201470183', 477),
 ('4824061918_31', 470),
 ('5187009879', 470),
 ('4733943898_1', 469),
 ('4824061918_13', 467),
 ('4802177320_3', 463),
 ('5187225463', 463),
 ('5059327828', 461),
 ('5448307780_1', 458),
 ('5370476670_1', 457),
 ('2194762776_51', 457),
 ('4802177320_8', 456),
 ('4733964360_2', 448),
 ('4824061918_6', 442),
 ('4824061918_5', 435),
 ('4662225370_1', 435),
 ('4916550406-2', 429),
 ('5300251024', 427),
 ('5329225766', 424),
 ('4929464978_1', 423),
 ('4721294064', 421),
 ('5410081145_1', 421),
 ('4824061918_26', 417),
 ('4936599538_2', 412),
 ('5187136217', 411),
 ('5109058837-1', 407),
 ('4571859898-3', 406),
 ('2935006439-1', 406),
 ('5404710422', 406),
 ('429915183_1', 397),
 ('655045121_1', 396),
 ('4742636644_1', 395),
 ('4831944395_1', 392),
 ('4861386623_5', 386),
 ('4516245144', 382),
 ('5440569289_3', 381),
 ('5190791009', 380),
 ('4824061918_8', 380),
 ('3556304880_27', 376),
 ('5039782335_3', 370),
 ('100127', 368),
 ('4624382111_2', 367),
 ('100123', 363),
 ('272777305_5', 362),
 ('5410076553_1', 356),
 ('5071519367_1', 354),
 ('5002901812_5', 353),
 ('4973043388', 351),
 ('4929464978_2', 350),
 ('5314651511_1', 350),
 ('100121', 348),
 ('4038408297_20', 346),
 ('4824061918_22', 345),
 ('5174698349', 341),
 ('5240328576_13', 336),
 ('2008650661', 332),
 ('4571859898-8', 332),
 ('4890221631_1', 331),
 ('5102591063', 330),
 ('4610261043_3', 330),
 ('4824061918_24', 326),
 ('4733964360_4', 320),
 ('2708027405-2', 319),
 ('655045121_3', 313),
 ('5002901777_5', 311),
 ('5294687881_10', 311),
 ('4977419343_5', 309),
 ('3556304880_30', 307),
 ('5426872253', 307),
 ('5440569289_1', 306),
 ('5160536975', 305),
 ('4573567912', 303),
 ('5311703602_2', 303),
 ('4935540981_1', 301),
 ('4824061918_27', 301),
 ('5410073801_1', 299),
 ('3766203680', 295),
 ('4038425402_1', 294),
 ('4663242501', 289),
 ('655923010_1', 285),
 ('4861386623_6', 284),
 ('4861386623_4', 281),
 ('5450490001', 279),
 ('2073834271_3', 277),
 ('5240328576_14', 277),
 ('5146106676', 274),
 ('100164', 273),
 ('5315755113_3', 272),
 ('4658408144_4', 272),
 ('5315755113_2', 270),
 ('655045121_2', 268),
 ('3684346828', 267),
 ('4610261043_2', 266),
 ('4880838420', 266),
 ('273205138_4', 265),
 ('5177968934', 262),
 ('5377647727', 260),
 ('5329176574', 259),
 ('4824061918_28', 259),
 ('5123679717_1', 259),
 ('4824061918_12', 258),
 ('4927024859_1', 255),
 ('656785614_1', 254),
 ('5059280933', 254),
 ('5109058837-7', 254),
 ('4824061918_23', 253),
 ('5450584827_3', 253),
 ('5448265158', 252),
 ('4824061918_19', 250),
 ('2349268991', 250),
 ('4658408144_5', 249),
 ('308108017_8', 248),
 ('4824061918_16', 247),
 ('2073834271_1', 246),
 ('550517933_1', 246),
 ('4861386623_2', 246),
 ('4746801371_1', 245),
 ('5029899240_1', 245),
 ('4746801371_2', 243),
 ('4977419343_2', 242),
 ('5435099235_2', 242),
 ('121366825_8', 241),
 ('4824061918_10', 237),
 ('3375623263', 237),
 ('160635645', 235),
 ('4886019132', 235),
 ('5177927014', 235),
 ('4624200932_2', 233),
 ('5002901744_4', 230),
 ('2194762776_52', 230),
 ('5294687881_11', 230),
 ('342786711', 229),
 ('273205138_3', 229),
 ('4571859898-4', 226),
 ('121174437_2', 225),
 ('4959836191_1', 224),
 ('4803911983_1', 224),
 ('269018455', 221),
 ('5409991047', 220),
 ('5408709255_1', 220),
 ('4445307569_1', 219),
 ('5002901777_6', 219),
 ('121365917_1', 218),
 ('2194762776_15', 216),
 ('4222498550', 216),
 ('5316462744_3', 216),
 ('5435099235_1', 216),
 ('666937964_1', 213),
 ('4733964360_3', 213),
 ('5433222557', 213),
 ('4931297435', 212),
 ('5189278114', 212),
 ('4861386623_3', 212),
 ('4610261043_1', 211),
 ('4856076508_1', 211),
 ('4624382111_3', 210),
 ('4829334435', 207),
 ('5004789373_1', 206),
 ('5039784609', 206),
 ('683576163_1', 206),
 ('4494428190', 204),
 ('2108751155_1', 204),
 ('4586602884_2', 204),
 ('2876954237_31', 204),
 ('4661407817_1', 203),
 ('4568271030_16', 202),
 ('5445412379_1', 202),
 ('3858394546', 201),
 ('100130', 200),
 ('5450584827_1', 200),
 ('4852610306', 199),
 ('3858391637_3', 197),
 ('4578909088', 197),
 ('121174432_7', 195),
 ('3897041959_1', 195),
 ('2935006439-2', 194),
 ('5020021755_2', 194),
 ('670280948_1', 194),
 ('4934869636_4', 194),
 ('5059258600_2', 192),
 ('4498764575', 190),
 ('4861386623_1', 189),
 ('4836262850', 189),
 ('4237727898', 188),
 ('5129411591_1', 188),
 ('5440569289_2', 188),
 ('2194762776_55', 188),
 ('4831819136_2', 187),
 ('5146144585', 186),
 ('5161915845', 186),
 ('4624200932_4', 186),
 ('5002901812_13', 186),
 ('4662708350', 185),
 ('100167', 185),
 ('4943642550_1', 185),
 ('4679426465_1', 184),
 ('4663659658', 183),
 ('4603129952', 182),
 ('2213236071', 181),
 ('712290198', 181),
 ('4943642550_3', 179),
 ('4949663265', 178),
 ('5207916529_1', 177),
 ('4610252177_1', 176),
 ('213352166_99', 175),
 ('4571859898-10', 175),
 ('5387519904', 175),
 ('2108751155_2', 174),
 ('653076522_1', 174),
 ('4734961121', 173),
 ('5189279771', 173),
 ('5435099235_3', 172),
 ('4783648549', 170),
 ('5189334505', 170),
 ('5102624996', 169),
 ('129588584_1', 169),
 ('4852981762', 169),
 ('4624200932_8', 169),
 ('4827590636', 167),
 ('5004899381', 167),
 ('4832888276_28', 166),
 ('126998938_1', 166),
 ('5002901812_7', 166),
 ('712287338', 165),
 ('5161911392', 164),
 ('4852668660', 163),
 ('386300108', 163),
 ('129588584_2', 162),
 ('5440573382_7', 162),
 ('4943642550_4', 160),
 ('2708027405-3', 160),
 ('5102611901', 160),
 ('5256729806', 156),
 ('4852626458', 155),
 ('4578213482_6', 155),
 ('167623931', 154),
 ('4988594231_1', 153),
 ('4824061918_11', 153),
 ('4624200932_3', 153),
 ('4586602884_3', 152),
 ('661348455_78', 152),
 ('5104058856', 151),
 ('4824061918_21', 150),
 ('639909638_1', 150),
 ('5383403174', 150),
 ('4890260834_1', 150),
 ('310937345_3', 150),
 ('4781045347_2', 148),
 ('609945746-2', 148),
 ('3062434418', 148),
 ('4591341839_10', 148),
 ('228550165', 147),
 ('5332027451_1', 147),
 ('655045121_4', 147),
 ('3556304880_28', 146),
 ('5174767996', 145),
 ('5205956899_2', 145),
 ('5161917826', 143),
 ('3040297639-4', 143),
 ('2935066155-1', 142),
 ('5069495373_1', 141),
 ('4619957868-2', 141),
 ('3556304880_29', 140),
 ('100119', 140),
 ('4824061918_9', 140),
 ('5205956899_1', 140),
 ('698622983_11', 140),
 ('4836327042_3', 139),
 ('3632091109_1', 139),
 ('4571859898-9', 138),
 ('5076730943_1', 138),
 ('473652953_22', 137),
 ('5186964223', 137),
 ('5002901764_4', 137),
 ('3905269408_1', 137),
 ('129588584_3', 136),
 ('655923010_2', 136),
 ('4084303331-3', 135),
 ('121365917_2', 135),
 ('5471061633', 135),
 ('656785614_2', 134),
 ('4607927213_1', 134),
 ('5109058837-3', 134),
 ('2194762776_54', 134),
 ('5002901744_1', 133),
 ('3858391637_6', 133),
 ('5165206911', 132),
 ('4694579619_2', 132),
 ('5463773670', 132),
 ('5020021755_1', 131),
 ('5201511981', 130),
 ('2172349731-1', 130),
 ('5445426622', 130),
 ('2073834271_2', 129),
 ('4977567534', 129),
 ('5410071428_1', 129),
 ('2739219751_1', 128),
 ('3001626286', 128),
 ('5004845140_1', 128),
 ('4943642550_2', 127),
 ('609945746-1', 126),
 ('121174426_1', 126),
 ('5440569289_5', 126),
 ('4871466287', 124),
 ('4836261548', 124),
 ('3684346829', 124),
 ('684682148_1', 124),
 ('5409909140-3', 124),
 ('5076702414_1', 123),
 ('4283452869', 123),
 ('5191170889', 123),
 ('4662965370', 123),
 ('4586602884_5', 123),
 ('5002901812_8', 123),
 ('5062584267-1', 122),
 ('5294687881_2', 122),
 ('5294687881_1', 122),
 ('4883147496', 121),
 ('5300455105_1', 121),
 ('310937345_11', 121),
 ('5161913885', 121),
 ('4881035004', 121),
 ('5409909140-2', 121),
 ('4150565479_4', 120),
 ('4733943898_2', 120),
 ('5093981267', 120),
 ('121016347_1', 120),
 ('4586602884_6', 120),
 ('4949655422', 120),
 ('310937345_8', 119),
 ('4226856802_1', 119),
 ('5002901764_3', 119),
 ('5109058837-2', 119),
 ('5002901786_1', 117),
 ('4841042995-3', 117),
 ('4462417340_12', 117),
 ('4462417340_11', 117),
 ('5094023280', 117),
 ('5440573382_8', 117),
 ('5071695758', 116),
 ('5158068108_2', 116),
 ('2405353024_1', 115),
 ('5174771411', 115),
 ('372282409_1', 114),
 ('5300455105_2', 114),
 ('4955939850_1', 114),
 ('655045121_11', 114),
 ('4226363741_2', 113),
 ('3375623264', 113),
 ('273980189', 113),
 ('4150565479_1', 113),
 ('308108017_9', 112),
 ('269016643', 112),
 ('4586621238', 112),
 ('310937345_9', 112),
 ('5435099235_4', 112),
 ('5081883961_1', 111),
 ('572635049_3', 111),
 ('4568271030_17', 111),
 ('5340703975_1', 111),
 ('4658408144_2', 110),
 ('550518389', 110),
 ('4832693161-1', 110),
 ('655045121_5', 110),
 ('4226856802_2', 110),
 ('5445800394', 110),
 ('269018094', 109),
 ('5178619112_1', 109),
 ('2935006439-3', 109),
 ('126824752', 109),
 ('289851065', 109),
 ('4344924765_19_1', 109),
 ('5415364567_1', 109),
 ('5440423646', 109),
 ('5002869126', 108),
 ('5201488849', 108),
 ('4824061918_18', 107),
 ('2823114082_25', 107),
 ('4662217184_1', 107),
 ('3858391637_5', 107),
 ('5417732315', 107),
 ('5067611740_1', 106),
 ('5174715406', 106),
 ('5102657689', 106),
 ('5184434212_1', 105),
 ('5102599276', 105),
 ('5406003709_3', 105),
 ('5071523554_1', 104),
 ('2647965570', 104),
 ('5050821366', 104),
 ('4852679474', 104),
 ('655045121_12', 104),
 ('5409909140-1', 104),
 ('4803911983_3', 104),
 ('2194762776_56', 104),
 ('4714022089', 103),
 ('5191172020', 103),
 ('656786906_1', 103),
 ('5374787789', 103),
 ('655923010_5', 103),
 ('5326550997_11', 103),
 ('100165', 101),
 ('4802458580_32', 101),
 ('4610261043_4', 100),
 ('670280948_2', 100),
 ('4832888276_27', 100),
 ('5225113858', 100),
 ('473652953_26', 100),
 ('4568271030_20', 100),
 ('5076746813_1', 100),
 ('5294711098_11', 100),
 ('4959836191_4', 99),
 ('550695723_1', 99),
 ('134265335_03', 99),
 ('4963083565', 99),
 ('121172041', 99),
 ('712287337_11', 99),
 ('3534474482-1', 98),
 ('4512239460_1', 98),
 ('310937345_6', 98),
 ('5002901765_1', 98),
 ('5294711098_12', 98),
 ('4964332709_3', 98),
 ('5440573382_6', 97),
 ('4733964360_6', 96),
 ('5189266501', 96),
 ('2972600074', 96),
 ('2194762776_14', 96),
 ('4956250368_9', 96),
 ('4586602884_1', 96),
 ('3897041959_2', 96),
 ('2761752234_1', 95),
 ('217938162_4', 95),
 ('5002901785_1', 95),
 ('5174762225', 94),
 ('5109058837-4', 94),
 ('310937345_5', 94),
 ('4581430012_6', 94),
 ('287158326_5', 94),
 ('5375781714', 93),
 ('242877283', 93),
 ('288314078', 93),
 ('666940948_1', 93),
 ('4761810537_4', 93),
 ('4803911983_2', 93),
 ('5034005041', 92),
 ('134666046', 92),
 ('5445272649', 92),
 ('680232128_1', 91),
 ('4742637459_3', 91),
 ('2194762776_53', 91),
 ('655045121_6', 90),
 ('5189270772', 90),
 ('639909638_2', 90),
 ('3632091109_2', 90),
 ('4880894356', 89),
 ('5161418659_1', 89),
 ('5062602391-1', 89),
 ('4733964360_5', 89),
 ('2194762776_16', 89),
 ('473652953_17', 89),
 ('4733964360_9', 89),
 ('287158326_7', 89),
 ('655923010_3', 88),
 ('5364821094', 88),
 ('666938827_3', 88),
 ('287158326_6', 88),
 ('342785940', 87),
 ('4993788450_3', 87),
 ('5110769135_1', 87),
 ('4610261043_5', 87),
 ('2094776489_6', 87),
 ('2108751155_3', 86),
 ('4699537516', 86),
 ('4328210141_15', 86),
 ('2073834271_4', 85),
 ('213352164', 85),
 ('477611452', 85),
 ('5256700631', 85),
 ('5109058837-8', 85),
 ('5102629937', 85),
 ('5205957679_1', 85),
 ('5444136808', 85),
 ('4379923832_7', 84),
 ('5214975182', 84),
 ('4679959085_2', 84),
 ('5060020637', 84),
 ('5059337541', 83),
 ('5008045323', 83),
 ('269018095', 83),
 ('5050742116_1', 82),
 ('100156', 82),
 ('5118461804', 82),
 ('5146385446_1', 82),
 ('2094776489_5', 82),
 ('310937345_4', 82),
 ('5316537849', 82),
 ('4853056510', 82),
 ('4949865074_5', 82),
 ('5440569289_9', 82),
 ('5448265158_99', 82),
 ('5300121056_2', 81),
 ('4658408144_3', 81),
 ('666940634_1', 81),
 ('5294687881_3', 81),
 ('121366825_14', 81),
 ('5316539324', 81),
 ('5370501057_1', 81),
 ('5187195749', 80),
 ('4791618819_3', 80),
 ('5333266211', 80),
 ('5002901765_2', 80),
 ('4841042995-4', 80),
 ('2099161373-1', 80),
 ('5014826842_1', 80),
 ('4772958771_1', 80),
 ('4949579063', 80),
 ('300940180_1', 80),
 ('5435099235_5', 80),
 ('5478509694', 80),
 ('661348455_80', 79),
 ('4852978033', 79),
 ('528117807', 79),
 ('655045121_13', 79),
 ('269018093', 78),
 ('655260439_1', 78),
 ('4733946722_1', 78),
 ('4662589066', 78),
 ('2935066155-2', 78),
 ('4824189340_4', 77),
 ('5189275561_2', 77),
 ('5121269742_5', 77),
 ('5240296255', 77),
 ('4578913144_1', 77),
 ('5091557404', 77),
 ('5221453410_5', 77),
 ('4742625118_2', 77),
 ('4774907858-1', 77),
 ('4952974370', 77),
 ('5411283162', 76),
 ('5004851471_4', 76),
 ('4824122537_1', 76),
 ('5261833344', 76),
 ('5189336167', 76),
 ('2094776489_7', 76),
 ('4586602884_4', 76),
 ('683881398_1', 75),
 ('5256746152', 75),
 ('4918716340', 75),
 ('4387448602_3', 75),
 ('666938827_2', 75),
 ('655045121_7', 75),
 ('5148779318_3', 75),
 ('5429973508', 75),
 ('4586602884_23', 75),
 ('5281130826_2', 75),
 ('5002901812_9', 75),
 ('4658433412_3', 75),
 ('2956157179_2', 74),
 ('5349410412_1', 74),
 ('4959836191_5', 74),
 ('651470757_1', 74),
 ('4949580467_1', 74),
 ('160657626_1', 74),
 ('4624363257_1', 74),
 ('4462417340_10', 74),
 ('4733964360_11', 74),
 ('550665350', 74),
 ('666938827_1', 74),
 ('5445286943', 74),
 ('100219', 73),
 ('4712873772_2', 73),
 ('310937345_1', 73),
 ('4607921942_2', 73),
 ('5397026684', 73),
 ('5440569289_4', 73),
 ('3897041959_3', 73),
 ('4841042995-1', 72),
 ('4890221631_2', 72),
 ('310937345_2', 72),
 ('278697364', 72),
 ('5187174527', 72),
 ('5078331598', 72),
 ('120941953_3', 72),
 ('217938162_10', 71),
 ('4956250368_10', 71),
 ('5002869102', 71),
 ('288314071', 71),
 ('4852979652', 71),
 ('2099126151', 71),
 ('5148779318_4', 71),
 ('655260659_3', 71),
 ('5356182733_1', 70),
 ('4624377372_1', 70),
 ('5410093882', 70),
 ('5404329274_1', 70),
 ('4733964360_10', 70),
 ('4852674963', 70),
 ('4704457063_1', 70),
 ('4904691640_3', 69),
 ('5059274915', 69),
 ('4733943898_4', 69),
 ('5002300373_1', 69),
 ('5329225766_2', 69),
 ('2876954237_32', 69),
 ('4591341839_11', 68),
 ('5029899240_2', 68),
 ('5409403668_1', 68),
 ('5002901812_12', 68),
 ('5002206237', 67),
 ('3327897636_4', 67),
 ('5035807543', 67),
 ('670298984_1', 67),
 ('4761810537_6', 67),
 ('2094776489_1', 67),
 ('4084303331-1', 67),
 ('5409909140-4', 67),
 ('5281083102', 67),
 ('5078869353', 66),
 ('550695708_4', 66),
 ('100243', 66),
 ('5076559766', 66),
 ('437244990_7', 66),
 ('5060525620', 66),
 ('150818664_30', 66),
 ('5174765354', 66),
 ('4328210141_17', 66),
 ('4974561042_1', 65),
 ('4328210141_7', 65),
 ('437244990_5', 65),
 ('473652953_23', 65),
 ('4733964360_7', 65),
 ('5002901731_1', 65),
 ('150818664_31', 65),
 ('4754444065_5', 65),
 ('2194762776_58', 65),
 ('550695708_1', 64),
 ('5004780503_1', 64),
 ('310937345_10', 64),
 ('3989927610_1', 64),
 ('121113295', 64),
 ('372285564', 64),
 ('4802458580_34', 64),
 ('4949649381_5', 64),
 ('3897041959_4', 64),
 ('4410685594', 63),
 ('5110777306_1', 63),
 ('683917122_1', 63),
 ('5148688938_1', 63),
 ('2172349731-2', 63),
 ('4624200932_5', 63),
 ('5388814672', 63),
 ('134265392', 62),
 ('5002201838', 62),
 ('310192609', 62),
 ('4581430012_4', 62),
 ('4658401037', 62),
 ('5184434212_2', 62),
 ('100125', 62),
 ('288314073', 62),
 ('5002901771_3', 62),
 ('698622983_12', 62),
 ('5445278540_1', 62),
 ('5002901812_11', 62),
 ('4733943898_3', 61),
 ('5387441335_1', 61),
 ('4836327042_2', 61),
 ('4824189340_5', 61),
 ('5440569289_7', 61),
 ('5332019290_1', 60),
 ('5123060014', 60),
 ('3327897636_6', 60),
 ('5332021984_1', 60),
 ('4652762747', 60),
 ('5187191412', 60),
 ('4328210141_8', 60),
 ('100195', 60),
 ('655260659_2', 60),
 ('4949869007', 60),
 ('4416375705', 60),
 ('4665703060_2', 59),
 ('100192', 59),
 ('4491995660', 59),
 ('4571859898-11', 59),
 ('2405353024', 59),
 ('5063058751_1', 59),
 ('5031727275_1', 59),
 ('5404329274_5', 59),
 ('5009586602_1', 59),
 ('5463933964', 59),
 ('5440542667_4', 59),
 ('5440573382_1', 59),
 ('5288265805', 58),
 ('4344924765_14', 58),
 ('4736182250_1', 58),
 ('4827631996_1', 58),
 ('5380837687', 58),
 ('4150207485_1', 58),
 ('2099065849', 58),
 ('655045121_17', 58),
 ('4832693161-2', 58),
 ('4959836191_2', 58),
 ('4859690883_2', 58),
 ('5208450362_1', 57),
 ('238329765', 57),
 ('4993599720_1', 57),
 ('4084303331-4', 57),
 ('4839482130_25', 57),
 ('5300468669_2', 57),
 ('4937310114_1', 57),
 ('5390938207_2', 56),
 ('4693249380', 56),
 ('4529828307_1', 56),
 ('5106216468_5', 56),
 ('300940180_2', 56),
 ('5002901787_1', 56),
 ('4993788450_4', 56),
 ('4529828307_2', 56),
 ('2012769996_1', 56),
 ('4680045313_3', 56),
 ('150818664_11', 56),
 ('5240593471_1', 56),
 ('550695723_3', 56),
 ('3858391637_7', 56),
 ('5450060354', 56),
 ('289856097', 55),
 ('2341166656_9', 55),
 ('2341166656_4', 55),
 ('5406003709_2', 55),
 ('4150207485_3', 55),
 ('661348455_81', 55),
 ('5104159522', 55),
 ('655923010_4', 55),
 ('661348455_79', 55),
 ('4660956099_1', 55),
 ('655045121_8', 55),
 ('5189338430', 55),
 ('4610252177_2', 54),
 ('121144271', 54),

In [90]:
item_fc3_df=pd.DataFrame(sorted_items)
item_fc3_df

                  0      1
0      4658408144_1  10033
1        5480996007   4926
2     4586602884_10   3613
3     4586602884_11   3404
4        5390871219   2924
...             ...    ...
6046   5186365767_4      1
6047   4555804727_1      1
6048     2246335756      1
6049    323809441_1      1
6050  4624612404_16      1

[6051 rows x 2 columns]

0이 품목 코드 1이 품목 개수

In [88]:
ggplot(data=sorted_items, aes(x=item, y=items_count))

SyntaxError: positional argument follows keyword argument (<ipython-input-88-4bbee06cea5a>, line 1)

In [66]:
fc3_df.loc[(fc3_df['CORP_ID']=='KX007'),'CORP_ID']='0'
fc3_df.loc[(fc3_df['CORP_ID']=='GP001'),'CORP_ID']='1'

In [42]:
allFC_df.head(5)

,CORP_ID,REF_ORD_NO,BKG_NO,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_CD,...,DLVSUBCLSFCD,INS_ID,INS_DATE,INS_TIME,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,0,2021030365922551,KX007210303370934,7,20210303,35510,90001302,22400.0,2,134265392,...,1,iNEXBatch,20210303,131425,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,0,2021030365922951,KX007210303371080,7,20210303,35521,90001441,20900.0,1,4610261043_2,...,4,iNEXBatch,20210303,131425,50.0,N,경기도,광주시,경상남도,김해시
2,0,2021030365924361,KX007210303371081,7,20210303,35513,90001441,37900.0,1,4936599538_1,...,0,iNEXBatch,20210303,131425,53.0,N,경기도,광주시,경상남도,거제시
3,0,2021030365928921,KX007210303371205,7,20210303,35608,90001542,69800.0,1,3858391637_1,...,1,iNEXBatch,20210303,131425,6.0,N,경기도,광주시,서울특별시,서초구
4,0,2021030365930451,KX007210303370967,7,20210303,35551,90001341,73700.0,1,4631307460,...,1,iNEXBatch,20210303,131425,10.0,N,경기도,광주시,경기도,김포시

In [43]:
allFC_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1786374 entries, 0 to 676911
Data columns (total 32 columns):
 #   Column              Dtype
---  ------              -----
 0   CORP_ID             object
 1   REF_ORD_NO          object
 2   BKG_NO              object
 3   BKG_TYP             int64
 4   BKG_DATE            int64
 5   BKG_TIME            int64
 6   SHPR_CD             int64
 7   INV_AMT             float64
 8   ITEM_SEQ            int64
 9   ITEM_CD             object
 10  BRAND_NM            object
 11  ITEM_QTY            int64
 12  ITEM_AMT            float64
 13  IF_YN               object
 14  ORDER_CRT_DATETIME  float64
 15  DLV_DV              float64
 16  REF_ITEM_SEQ        object
 17  ORDER_IDX           object
 18  ORDER_YN            object
 19  DLVPREARRBRANCD     object
 20  DLVPREARREMPNICKNM  object
 21  DLVCLSFCD           object
 22  DLVSUBCLSFCD        object
 23  INS_ID              object
 24  INS_DATE            int64
 25  INS_TIME            int64
 26  POST_ZONE           float64
 27  SPLIT_EXEC_YN       object
 28  SHPR_ADDR_1         object
 29  SHPR_ADDR_2         object
 30  CNEE_ADDR_1         object
 31  CNEE_ADDR_2         object
dtypes: float64(5), int64(8), object(19)
memory usage: 449.8+ MB

크힉 순간 저 조건에 맞는 행들의 모든 열 값을 0으로 바꾸게 해버려 다 날라가는 상태가 발생했었다 ,, ㅎ 그래서 처음부터 다시 돌렸다,,

3-2) REF_ORD_NO 는 고객 주문번호, 해당 테이블 key 값, 네이버 채번,, 인데 음 BKG_DATE(주문 날짜) column에 들어가있는 값 + ,,65922551같은 숫자들은 모르겠는데,, 일단 굳이 앞의 주문날짜를 살려 놓을 필요는 없으니깐 삭제해버리고 뒷 부분의 숫자들은 어떤 값들인진 모르겠지만 해석을 못해먹겠고 코드,,짜기 귀찮으니 삭제해버린다.

In [44]:
allFC_df.drop(['REF_ORD_NO'],axis=1, inplace=True)#원본 데이터에서 날린거임!

3-3) BKG_NO는 대한통운 주문번호 (예약번호)이고 솔직히 다 필요없다고 생각해서 아예 column 전체를 날렸다.

In [45]:
allFC_df.drop(['BKG_NO'],axis=1, inplace=True)

In [46]:
allFC_df

,CORP_ID,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_CD,BRAND_NM,ITEM_QTY,...,DLVSUBCLSFCD,INS_ID,INS_DATE,INS_TIME,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,0,7,20210303,35510,90001302,22400.0,2,134265392,단일상품,1,...,1,iNEXBatch,20210303,131425,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,0,7,20210303,35521,90001441,20900.0,1,4610261043_2,조합형옵션상품,1,...,4,iNEXBatch,20210303,131425,50.0,N,경기도,광주시,경상남도,김해시
2,0,7,20210303,35513,90001441,37900.0,1,4936599538_1,조합형옵션상품,1,...,0,iNEXBatch,20210303,131425,53.0,N,경기도,광주시,경상남도,거제시
3,0,7,20210303,35608,90001542,69800.0,1,3858391637_1,조합형옵션상품,1,...,1,iNEXBatch,20210303,131425,6.0,N,경기도,광주시,서울특별시,서초구
4,0,7,20210303,35551,90001341,73700.0,1,4631307460,단일상품,1,...,1,iNEXBatch,20210303,131425,10.0,N,경기도,광주시,경기도,김포시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676907,1,7,20210628,91210,90001772,NaN,16,00281,NaN,100,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
676908,1,7,20210628,91210,90001772,NaN,17,00316,NaN,168,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
676909,1,7,20210628,91210,90001772,NaN,18,00338,NaN,100,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
676910,1,7,20210628,91210,90001772,NaN,19,00183,NaN,50,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
676911,1,7,20210628,91210,90001772,NaN,20,8809641651310,NaN,100,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN

3-4) 아무래도 날려야할게 너무 많이 보여서 한 번에 날리기로 결심했다,,
- SHPR_CD : 고객사 코드
- ITEM_CD : 품목순번
- BRAND_NM : 품목명 (판매자가 설정해놓는 것이라고 한다. 품목의 종류를 확인하기 어렵다...)

In [47]:
allFC_df.drop(['SHPR_CD','ITEM_CD','BRAND_NM'],axis=1, inplace=True)

In [48]:
print(allFC_df)

       CORP_ID  BKG_TYP  BKG_DATE  BKG_TIME  INV_AMT  ITEM_SEQ  ITEM_QTY  \
0            0        7  20210303     35510  22400.0         2         1
1            0        7  20210303     35521  20900.0         1         1
2            0        7  20210303     35513  37900.0         1         1
3            0        7  20210303     35608  69800.0         1         1
4            0        7  20210303     35551  73700.0         1         1
...        ...      ...       ...       ...      ...       ...       ...
676907       1        7  20210628     91210      NaN        16       100
676908       1        7  20210628     91210      NaN        17       168
676909       1        7  20210628     91210      NaN        18       100
676910       1        7  20210628     91210      NaN        19        50
676911       1        7  20210628     91210      NaN        20       100

        ITEM_AMT IF_YN  ORDER_CRT_DATETIME  ...  DLVSUBCLSFCD     INS_ID  \
0        14900.0     N        2.021030e+13  ...             1  iNEXBatch
1        20900.0     N        2.021030e+13  ...             4  iNEXBatch
2        37900.0     N        2.021030e+13  ...             0  iNEXBatch
3        69800.0     N        2.021030e+13  ...             1  iNEXBatch
4        39800.0     N        2.021030e+13  ...             1  iNEXBatch
...          ...   ...                 ...  ...           ...        ...
676907       NaN     N                 NaN  ...             1  osulloc01
676908       NaN     N                 NaN  ...             1  osulloc01
676909       NaN     N                 NaN  ...             1  osulloc01
676910       NaN     N                 NaN  ...             1  osulloc01
676911       NaN     N                 NaN  ...             1  osulloc01

        INS_DATE INS_TIME POST_ZONE SPLIT_EXEC_YN SHPR_ADDR_1 SHPR_ADDR_2  \
0       20210303   131425       3.0             N     세종특별자치시         NaN
1       20210303   131425      50.0             N         경기도         광주시
2       20210303   131425      53.0             N         경기도         광주시
3       20210303   131425       6.0             N         경기도         광주시
4       20210303   131425      10.0             N         경기도         광주시
...          ...      ...       ...           ...         ...         ...
676907  20210628    91210      10.0             N         경기도         군포시
676908  20210628    91210      10.0             N         경기도         군포시
676909  20210628    91210      10.0             N         경기도         군포시
676910  20210628    91210      10.0             N         경기도         군포시
676911  20210628    91210      10.0             N         경기도         군포시

       CNEE_ADDR_1  CNEE_ADDR_2
0            서울특별시         서대문구
1             경상남도          김해시
2             경상남도          거제시
3            서울특별시          서초구
4              경기도          김포시
...            ...          ...
676907         경기도          NaN
676908         경기도          NaN
676909         경기도          NaN
676910         경기도          NaN
676911         경기도          NaN

[1786374 rows x 27 columns]

3-5) 계속 날리는데 사실 이 화면에 모든 column 항목들이 안떠서 계속 삭제하고 보고 ,, 하는 중이다. ㅋㅋㅋ
- IF_YN : 수신 여부를 확인하는 것인데 N이면 수신이 되지 않았다는 거임,,,? 어쨌든 일단은 날리고.. (뭔가 불안하니깐 inplace=False로 맞추겠음.)
- ORDER_CRT_DATETIME : 주문생성시간인데 이거 딱봐도 앞의 주문 날짜 + 주문시간한 거 합친 데이터임,, 왜 넣어놨냐고 용량아깝게;
.. 뒤에부터도 같이 삭제해야지.. 마지막 4열들은 위치 값들이니 살려놓고 
- SPLIT_EXEC_YN : 배송처별 주문분할 여부,,,,, 이거는 친구들과 함께 이야기해보구
- POST_ZONE : 권역구분 : 이것도 마찬가지,, 근데 숫자로 표시되어있네 신기하네
- INS 시리즈는 다 날린다,, 전부 입력자ID, 입력일자, 입력시간이고 아직 의미있는지 모르겠음..   
일단 이렇게만!

In [49]:
allFC_df.drop(['IF_YN','ORDER_CRT_DATETIME','INS_ID','INS_DATE','INS_TIME'],axis =1, inplace = True)

In [50]:
print(allFC_df)

       CORP_ID  BKG_TYP  BKG_DATE  BKG_TIME  INV_AMT  ITEM_SEQ  ITEM_QTY  \
0            0        7  20210303     35510  22400.0         2         1
1            0        7  20210303     35521  20900.0         1         1
2            0        7  20210303     35513  37900.0         1         1
3            0        7  20210303     35608  69800.0         1         1
4            0        7  20210303     35551  73700.0         1         1
...        ...      ...       ...       ...      ...       ...       ...
676907       1        7  20210628     91210      NaN        16       100
676908       1        7  20210628     91210      NaN        17       168
676909       1        7  20210628     91210      NaN        18       100
676910       1        7  20210628     91210      NaN        19        50
676911       1        7  20210628     91210      NaN        20       100

        ITEM_AMT  DLV_DV      REF_ITEM_SEQ  ... DLVPREARRBRANCD  \
0        14900.0     1.0  2021030323885041  ...            7484
1        20900.0     1.0  2021030323885721  ...            6427
2        37900.0     1.0  2021030323887981  ...            6158
3        69800.0     1.0  2021030323895281  ...            8909
4        39800.0     1.0  2021030323897651  ...            2777
...          ...     ...               ...  ...             ...
676907       NaN     1.0             00281  ...            8981
676908       NaN     1.0             00316  ...            8981
676909       NaN     1.0             00338  ...            8981
676910       NaN     1.0             00183  ...            8981
676911       NaN     1.0     8809641651310  ...            8981

       DLVPREARREMPNICKNM DLVCLSFCD DLVSUBCLSFCD POST_ZONE SPLIT_EXEC_YN  \
0                     C06      5Z73            1       3.0             N
1                     M09      6R67            4      50.0             N
2                     L32      9Y25            0      53.0             N
3                     D21      1N65            1       6.0             N
4                     R15      3D84            1      10.0             N
...                   ...       ...          ...       ...           ...
676907                NaN      5F20            1      10.0             N
676908                NaN      5F20            1      10.0             N
676909                NaN      5F20            1      10.0             N
676910                NaN      5F20            1      10.0             N
676911                NaN      5F20            1      10.0             N

        SHPR_ADDR_1 SHPR_ADDR_2 CNEE_ADDR_1 CNEE_ADDR_2
0           세종특별자치시         NaN       서울특별시        서대문구
1               경기도         광주시        경상남도         김해시
2               경기도         광주시        경상남도         거제시
3               경기도         광주시       서울특별시         서초구
4               경기도         광주시         경기도         김포시
...             ...         ...         ...         ...
676907          경기도         군포시         경기도         NaN
676908          경기도         군포시         경기도         NaN
676909          경기도         군포시         경기도         NaN
676910          경기도         군포시         경기도         NaN
676911          경기도         군포시         경기도         NaN

[1786374 rows x 22 columns]

In [51]:
allFC_df.head(3)

,CORP_ID,BKG_TYP,BKG_DATE,BKG_TIME,INV_AMT,ITEM_SEQ,ITEM_QTY,ITEM_AMT,DLV_DV,REF_ITEM_SEQ,...,DLVPREARRBRANCD,DLVPREARREMPNICKNM,DLVCLSFCD,DLVSUBCLSFCD,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,0,7,20210303,35510,22400.0,2,1,14900.0,1.0,2021030323885041,...,7484,C06,5Z73,1,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,0,7,20210303,35521,20900.0,1,1,20900.0,1.0,2021030323885721,...,6427,M09,6R67,4,50.0,N,경기도,광주시,경상남도,김해시
2,0,7,20210303,35513,37900.0,1,1,37900.0,1.0,2021030323887981,...,6158,L32,9Y25,0,53.0,N,경기도,광주시,경상남도,거제시

아씨 칼럼 지워도 지워도 계속 많다.. 내일 할래,,,,,,

3-6) 마지막 날리기가 될 듯 싶다!   
- DLV_DV : 택배 구분인데 왜 float 값으로 저렇게 나와있지??
일단 지울 거는 
- ORDER_IDX : 중개업체 주문번호
- ORDER_YN : 접수여부

- DLVPREARREMPNICKNM : 배달예정사원 분류코드가 필요할까?? 일단은 지워보겠다,,

In [52]:
allFC_df= allFC_df.drop(['ORDER_IDX','ORDER_YN','DLVPREARREMPNICKNM'],axis =1, inplace = False)

In [53]:
allFC_df.head(10)

,CORP_ID,BKG_TYP,BKG_DATE,BKG_TIME,INV_AMT,ITEM_SEQ,ITEM_QTY,ITEM_AMT,DLV_DV,REF_ITEM_SEQ,DLVPREARRBRANCD,DLVCLSFCD,DLVSUBCLSFCD,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,0,7,20210303,35510,22400.0,2,1,14900.0,1.0,2021030323885041,7484,5Z73,1,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,0,7,20210303,35521,20900.0,1,1,20900.0,1.0,2021030323885721,6427,6R67,4,50.0,N,경기도,광주시,경상남도,김해시
2,0,7,20210303,35513,37900.0,1,1,37900.0,1.0,2021030323887981,6158,9Y25,0,53.0,N,경기도,광주시,경상남도,거제시
3,0,7,20210303,35608,69800.0,1,1,69800.0,1.0,2021030323895281,8909,1N65,1,6.0,N,경기도,광주시,서울특별시,서초구
4,0,7,20210303,35551,73700.0,1,1,39800.0,1.0,2021030323897651,2777,3D84,1,10.0,N,경기도,광주시,경기도,김포시
5,0,7,20210303,35551,73700.0,2,1,15900.0,1.0,2021030323897661,2777,3D84,1,10.0,N,경기도,광주시,경기도,김포시
6,0,7,20210303,35551,73700.0,3,1,18000.0,1.0,2021030323897691,2777,3D84,1,10.0,N,경기도,광주시,경기도,김포시
7,0,7,20210303,35538,14900.0,1,1,14900.0,1.0,2021030323903491,M54T,6N20,1p,47.0,N,세종특별자치시,NaN,부산광역시,연제구
8,0,7,20210303,35732,19800.0,1,1,19800.0,1.0,2021030323904521,6174,6R67,1,50.0,N,경기도,광주시,경상남도,김해시
9,0,7,20210303,35557,37900.0,1,1,37900.0,1.0,2021030323912641,8777,2U45,2,4.0,N,경기도,광주시,서울특별시,성동구


오 근데 INV_AMT: 주문금액에 대해서 마지막 row 쪽 값이 Nan값이 있고 이를 버려야 함!
#### 3-7) 결손 데이터 처리하기 
-> isna(): NaN여부를 확인하는 API   
-> fillna() : NaN값을 다른 값으로 대체쓰면 됨

In [54]:
allFC_df.isna()

,CORP_ID,BKG_TYP,BKG_DATE,BKG_TIME,INV_AMT,ITEM_SEQ,ITEM_QTY,ITEM_AMT,DLV_DV,REF_ITEM_SEQ,DLVPREARRBRANCD,DLVCLSFCD,DLVSUBCLSFCD,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676907,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
676908,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
676909,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
676910,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
676911,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True

True값은 NaN 값이 있다는 뜻.

In [55]:
allFC_df.isna().sum() #칼럼별 NaN값 개수 확인 꺄악 다시 돌려버려서 다 0됨..ㅠㅠ

CORP_ID                 0
BKG_TYP                 0
BKG_DATE                0
BKG_TIME                0
INV_AMT             28011
ITEM_SEQ                0
ITEM_QTY                0
ITEM_AMT            18730
DLV_DV               1043
REF_ITEM_SEQ         1000
DLVPREARRBRANCD      1043
DLVCLSFCD            1043
DLVSUBCLSFCD         1150
POST_ZONE            1043
SPLIT_EXEC_YN           0
SHPR_ADDR_1             0
SHPR_ADDR_2        109251
CNEE_ADDR_1            35
CNEE_ADDR_2         35977
dtype: int64

In [56]:
allFC_df=allFC_df.dropna() #결손 데이터를 다 날리는건데,, 흐음 이게 맞을까 
#이시ㅜ키 돌리고 돌렸어ㅠㅠ

In [57]:
allFC_df.isna().sum() #이럼 다시 볼 필요없잖아

CORP_ID            0
BKG_TYP            0
BKG_DATE           0
BKG_TIME           0
INV_AMT            0
ITEM_SEQ           0
ITEM_QTY           0
ITEM_AMT           0
DLV_DV             0
REF_ITEM_SEQ       0
DLVPREARRBRANCD    0
DLVCLSFCD          0
DLVSUBCLSFCD       0
POST_ZONE          0
SPLIT_EXEC_YN      0
SHPR_ADDR_1        0
SHPR_ADDR_2        0
CNEE_ADDR_1        0
CNEE_ADDR_2        0
dtype: int64

INV_AMT, ITEM_AMT, DLV_DV, REF_ITEM_SEQ, DLVPREARRBRANCD, DLVCLSFCD, DLVSUBCLSFCD, POST_ZONE, SHPR_ADDR_2, CNEE_ADDR_1, CNEE_ADDR_2 : True 값이 있음 (즉 NaN값이 존재하고 이를 날려버림)

*allFC_df의 NaN값을 다 지워버렸는데 이 NaN값을 채워야함 -> 보통 평균값으로 채우는데,, 각 칼럼별로 dtype을 보면서 해야할 것 같으니 일단,,흐음 일단 해본다.*   
dtype 별로 구분!
- float64 : INV_AMT(주문금액), ITEM_AMT(품목금액), DLV_DV(택배구분), POST_ZONE(권역구분)
- object : REF_ITEM_SEQ(상품주문번호)-> 이거 왜 안날림;;하핳 다시 돌리기 지겨운데ㅠ, DLVPREARRBRANCD(배달예정점소코드), DLVCLSFCD(배달터미널코드), SHPR_ADDR_2(송화인 주소2), CNEE_ADDR_1(수화인 주소1), CNEE_ADDR_2(수화인 주소2)

float64 애들은 일단 택배구분이랑 권역구분 빼고는 fillna() 로 평균값으로 맞춰놔도 될 듯 싶음!
object 쪽 결손데이터는 어떻게 해야하징,,

## 이거 아직 안끝냄!

In [58]:
allFC_df['INV_AMT'].fillna(allFC_df['INV_AMT'].mean())

1          20900.0
2          37900.0
3          69800.0
4          73700.0
5          73700.0
            ...
676885     16900.0
676886    138000.0
676887     13900.0
676891     77000.0
676892    125800.0
Name: INV_AMT, Length: 1635018, dtype: float64

In [59]:


allFC_df['ITEM_AMT'].fillna(allFC_df['ITEM_AMT'].mean())

1          20900.0
2          37900.0
3          69800.0
4          39800.0
5          15900.0
            ...
676885     16900.0
676886    138000.0
676887     13900.0
676891     77000.0
676892    125800.0
Name: ITEM_AMT, Length: 1635018, dtype: float64


CORP_ID : dtype = object 인데 일단 이걸 int로 바꿔보기

In [60]:
allFC_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1635018 entries, 1 to 676892
Data columns (total 19 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   CORP_ID          1635018 non-null  object
 1   BKG_TYP          1635018 non-null  int64
 2   BKG_DATE         1635018 non-null  int64
 3   BKG_TIME         1635018 non-null  int64
 4   INV_AMT          1635018 non-null  float64
 5   ITEM_SEQ         1635018 non-null  int64
 6   ITEM_QTY         1635018 non-null  int64
 7   ITEM_AMT         1635018 non-null  float64
 8   DLV_DV           1635018 non-null  float64
 9   REF_ITEM_SEQ     1635018 non-null  object
 10  DLVPREARRBRANCD  1635018 non-null  object
 11  DLVCLSFCD        1635018 non-null  object
 12  DLVSUBCLSFCD     1635018 non-null  object
 13  POST_ZONE        1635018 non-null  float64
 14  SPLIT_EXEC_YN    1635018 non-null  object
 15  SHPR_ADDR_1      1635018 non-null  object
 16  SHPR_ADDR_2      1635018 non-null  object
 17  CNEE_ADDR_1      1635018 non-null  object
 18  CNEE_ADDR_2      1635018 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 249.5+ MB

In [61]:
allFC_df.astype({'CORP_ID':'int64'}).dtypes#으아 오버플로우 에러 뜸..멍청이었음 칼럼지정안함 당연히 오버플로 뜨지

CORP_ID              int64
BKG_TYP              int64
BKG_DATE             int64
BKG_TIME             int64
INV_AMT            float64
ITEM_SEQ             int64
ITEM_QTY             int64
ITEM_AMT           float64
DLV_DV             float64
REF_ITEM_SEQ        object
DLVPREARRBRANCD     object
DLVCLSFCD           object
DLVSUBCLSFCD        object
POST_ZONE          float64
SPLIT_EXEC_YN       object
SHPR_ADDR_1         object
SHPR_ADDR_2         object
CNEE_ADDR_1         object
CNEE_ADDR_2         object
dtype: object

일단 칼럼별 정리는 끝냈고! 여러 함수들을 적용하면서 데이터가 어떻게 분포되어있는지 파악한 뒤 FC별 수요량을 확인해보겠음!

- CORP_ID 는 곤지암을 0, 군포를 1로 바꾸었다. 대략 어디에 상품이 더 많을지(..이런식으로 말을 해도 될까 싶지만!) 확인해보려면 평균값을 알아본다.   
근데 생각보다 너무 오래걸리는데? 왜지...

CORP_ID 를 기준으로 데이터를 분류할 것이므로 내가 모든 값을 잘 바꾼건지 확인을 datatype을 통해 확인했다. (object -> int32로 바뀌었음을 확인할 수 있음.)

### 4. FC별 상품 수요량 파악하기

4-1) groupby() 적용 -> CORP_ID 기준으로!

In [63]:
allFC_df['day'] = allFC_df['BKG_DATE'].apply(lambda x:'BKG_DATE'
allFC_df['month'] = allFC_df['BKG_DATE']

곤지암 : 1542726 
군포 : 92292
만큼의 상품품목들이 존재.
이

In [ ]:
allFC_df_groupby()